<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %>,</h1>
    <p>
      Thank you for your interest!<br>
    </p>
    <p>
      You can contact me by phone at <%= ENV['PHONE'] %> or via email at <%= ENV['MAIL_NAME'] %>
    </p>
    <p>
      I look forward to connecting with you!</p><br/><br/>
    <p>
    Thanks,<br/>
    Adam Workman
    </p>
  </body>
</html>