<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %>,</h1>
    <p>
      Thank you for your interst!<br>
    </p>
    <p>
      You can contact me by phone at 706-239-5861 or via email at adammworkman@icloud.com
    </p>
    <p>
      I look forward to connecting with you!</p><br/><br/>
    <p>
    Thanks,<br/>
    Adam Workman
    </p>
  </body>
</html>